<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Blogger</title>
</head>
<body>
<div align="right">
    {% if user.is_active %}Hello {{ user.username }}
        <a href="{% url "logout" %}">
            <button>Выход</button>
        </a>
        <a href="{% url "profile" user.id %}">
            <button>My profile</button>
        </a>

    {% else %}
        <a href="{% url "login" %}">
            <button>Вход</button>
        </a>

    {% endif %}
</div>
<h1 style="color: mediumvioletred;" align="middle">Don't worry, be happy</h1>



<div style="margin-top: 150px">
    {% for post in posts %}
        <hr style="border-color: #ddffdd">
        <h1 style="color: darkgreen" align="middle">{{ post.title }}</h1>
        <h3 style="color: midnightblue" align="middle">{{ post.description }}</h3>
        <h5 style="color: darkslategray" align="right">{{ post.date }}</h5>
        <a href="/profile/{{ post.blog.author.id }}">{{ post.blog.author.username }}</a>
    {% endfor %}
</div>

</body>
</html>