{% load feed_tag %}

{% for post_foll in post_foll %}

    <h1 style="color: darkgreen" align="middle">{{ post_foll.title }}</h1>
    <h3 style="color: midnightblue" align="middle">{{ post_foll.description }}</h3>
    <h5 style="color: darkslategray" align="right">{{ post_foll.date }}</h5>
    <h5 style="color: darkslategray" align="right">{{ post_foll.blog.author.username }}</h5>

{% endfor %}

