<form action="{% url "login" %}" method="post">
    {% csrf_token %}
    {{ form.non_field_errors }}
    {{ form.username.errors }}
    <label for="{{ form.username.id_for_label }}"></label>
    {{ form.username }}
    {{ form.password.errors }}
    <label for="{{ form.password.id_for_label }}"></label>

    <p>{{ form.password }}</p>

    <input class="button btn-cta-primary" type="submit" value="Вход">
</form>
<a href="{% url "index" %}">
    <button>Главная</button>
</a>
{#<a href="{% url "register" %}">#}
{#    <button>Регистрация</button>#}
{#</a>#}