{% load feed_tag %}

<head lang="en">
    <meta charset="UTF-8">
    <title>{{ user.username }}</title>
</head>

<div align="right">
    {% if request.user.username != user.username %}
        {% if is_follow %}
            <a href="{% url "unfollow" pk %}">
                <button>Отписаться</button>
            </a>
        {% else %}
            <a href="{% url "follow" pk %}">
                <button>Подписаться</button>
            </a>
        {% endif %}
    {% endif %}

</div>

<div align="right" style="margin-top: 10px">
    <a href="{% url "index" %}">
        <button>Главная</button>
    </a>
</div>

<h1 align="middle" style="color: #993300">{{ user.username|capfirst }}'s blog</h1>


<div align="left">
    <form action="{% url "add_post" %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="add">
    </form>
</div>
<div>
    <div>
        {% for post in posts %}
            <hr style="border-color: #ddffdd">
            <a href="{% url "view_post" post.id %}"><h1 style="color: darkgreen" align="middle">{{ post.title }}</h1>
            </a>
            <h3 style="color: midnightblue" align="middle">{{ post.description }}</h3>
            <h5 style="color: darkslategray" align="right">{{ post.date }}</h5>
            <h5 style="color: darkslategray" align="right">{{ post.blog.author.username }}</h5>

            <a href="{% url "delete_post" post.id %}">
                <button>delete</button>
            </a>

            <p>{%if request.user.username in ReadPost %}
               <button>Read</button>
            {% else %}
                <a href="{% url "read_post" pk post.id %}"><button>Not read</button></a>


            {% endif %}</p>
        {% endfor %}

    </div>
 <hr>
    <div>
        <h4>Подписчики</h4>
        <ol>
            {% for user in followees %}
                <li><a href="/profile/{{ user.followee.id }}">{{ user.followee.username|capfirst }}</a></li>
            {% endfor %}
        </ol>
    </div>

    <div>
        <h4>Все пользователи</h4>
        <ol>
            {% for user in users %}
                <li><a href="/profile/{{ user.id }}">{{ user.username|capfirst }}</a></li>
            {% endfor %}
        </ol>
    </div>



{% if request.user.username == user.username %}
    <hr>
    <h2 align="middle">Посты на которые подписан:</h2>
    {% feed_tag %}

{% endif %}