{% if errors %}

    <h1>{{ errors }}</h1>
    <a type="submit" class="btn btn-primary" href="{% url "register" %}">Back</a>

{% else %}
    <form action="{% url "register" %}" method="POST" align="right">{% csrf_token %}
        {{ form.as_p }}

        <input type="submit" class="btn btn-primary" value="Войти"/>

    </form>
{% endif %}