<title>Post {{ one_post.blog.author.username }}</title>

<body>
<div align="middle">
    <h1 style="color: blueviolet">{{ one_post.title }}</h1>
    <h2>{{ one_post.description }}</h2>
    <h5 style="color: darkslategray" align="right">{{ one_post.blog.author.username }}</h5>
</div>
    <h5>{{ one_post.date }}</h5>
</body>